<div class="row">
    <div class="col-md-4">
        <div class="page-header">
            <h1>{{ __('h1_login') }}</h1>
        </div>
        <div>
            {{ form }}

            <div class="row">
                <div class="col-md-4">
                    <a href="{{ url('login_facebook') }}">Facebook</a>
                </div>
                <div class="col-md-4">
                    <a href="{{ url('login_twitter') }}">Twitter</a>
                </div>
                <div class="col-md-4">
                    <a href="{{ url('login_facebook') }}">Google+</a>
                </div>
            </div>
        </div>
    </div>
</div>